[submodule "msquic"]
	path = msquic
	url = https://github.com/masa-koz/msquic.git
[submodule "seera-msquic"]
	path = seera-msquic
	url = https://github.com/seera-networks/msquic.git
	branch = masa-koz/qmux-01
